body {
    margin: 0;
    height: 100%;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #F5F4EB;
    text-align: left;
}

* {
    font-size: 101%;
}

table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

tr.playerRow td {
    padding: 0.5em;
}


th {
    padding-top: 0.5em;
}
/*
tr:last-child td {
    padding-bottom: 1em;
}
*/

colgroup.teamA {
    background-color: #FF9797;
}

colgroup.teamB {
    background-color: #A9C5EB;
}

tr.buttonRow td, tr.playerRow td.transition {
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

colgroup.transition {
    width: 2%;

    /* Cross-browser gradients created at: http://gradients.glrzad.com/ */
    background-image: linear-gradient(left , #FF9797 25%, #A9C4EB 75%);
    background-image: -o-linear-gradient(left , #FF9797 25%, #A9C4EB 75%);
    background-image: -moz-linear-gradient(left , #FF9797 25%, #A9C4EB 75%);
    background-image: -webkit-linear-gradient(left , #FF9797 25%, #A9C4EB 75%);
    background-image: -ms-linear-gradient(left , #FF9797 25%, #A9C4EB 75%);

    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.25, #FF9797),
        color-stop(0.75, #A9C4EB)
    );
}

div.player {
    font-size: 140%;
}

.chessWhite {
    color: black;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em; 
}

.chessBlack {
    color: white;
    background-color: black;
    padding: 0.5em;
    border-radius: 0.5em; 
}

div.player select {
    width: 100%;
    margin-bottom: 0.25em;
}

span.stats {
/*    font-size: 100%;*/
}

span.predict {
    float: right;
    font-size: 80%;
}


/*-----------------------------------------------------------------------------
 * Styles for buttons/input/select elements. Based on:
 * http://37signals.com/svn/posts/2609-customizing-web-forms-with-css3-and-webkit
 */

input, select, button {
    border: 1px solid #555;
    padding: 0.25em 0.5em;
    line-height: 1.2em;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.35em;
}

/* activated (pressed) button effect */
input:active, select:active, button:active {
    outline: none;
    border: 1px solid #058cf5;
    background: #ccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#ddd));
}

input:focus, select:focus, button:focus {
    outline: none;
    border: 1px solid #058cf5;
}

/* rounded pill-style buttons */
input[type=submit], button {
    width: auto;
    border-radius: 2em;
    padding: 0.25em 1em;
    line-height: 1.5em;
}
