body {
    margin: 0;
    height: 100%;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #F5F4EB;
    text-align: left;
}

* {
    font-size: 102%;
}

table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
}

th {
    padding-top: 1em;
}

tr:last-child td {
    padding-bottom: 1em;
}

colgroup.teamA {
    background-color: #FF9797;
    width: 45%;
}

colgroup.teamB {
    background-color: #A9C5EB;
    width: 45%;
}

tr.buttonRow td {
    text-align: center;
    vertical-align: middle;
}

td.transition {
    text-align: center;
}

colgroup.transition {
    width: 10%;

    /* Cross-browser gradients created at: http://gradients.glrzad.com/ */
    background-image: linear-gradient(left , #FF9797 25%, #A9C4EB 75%);
    background-image: -o-linear-gradient(left , #FF9797 25%, #A9C4EB 75%);
    background-image: -moz-linear-gradient(left , #FF9797 25%, #A9C4EB 75%);
    background-image: -webkit-linear-gradient(left , #FF9797 25%, #A9C4EB 75%);
    background-image: -ms-linear-gradient(left , #FF9797 25%, #A9C4EB 75%);

    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.25, #FF9797),
        color-stop(0.75, #A9C4EB)
    );
}

.chessWhite {
    color: black;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em; 
}

.chessBlack {
    color: white;
    background-color: black;
    padding: 0.5em;
    border-radius: 0.5em; 
}

div.player select {
    display: block;
}

span.stats {
    font-size: 100%;
}

span.predict {
    font-size: 80%;
}
