body {
    margin: 0;
    height: 100%;

    /* font-family: verdana, arial, serif; */
    font-size: xx-large;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #F5F4EB;
}

select {
    font-size: xx-large;
}

input {
    font-size: xx-large;
}

.float-right {
	float: right;
	margin: 0.2em 0 0 0.2em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.float-left {
	float: left;
	margin: 0.2em 0 0 0.2em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.heading {
  font-family: trebuchet ms, verdana, arial, sans-serif;
  font-size: 20px;
  padding: 4px;
  background-color: #F1F1D8;
  color: #514E41;
  border: 1px solid #BCBAA2;
  border-bottom: 0px;
  margin: 0;
}

.content {
    margin: 0;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    border: 1px solid #BCBAA2;
}

.footnote {
    margin: 0;
    padding: 4px;
    text-align: right;
    margin-top: 0;
}


h1 {
  font-family: trebuchet ms, verdana, arial, sans-serif;
  font-size: 20px;
  padding: 4px;
  background-color: #F1F1D8;
  color: #514E41;
  border: 1px solid #BCBAA2;
  border-bottom: 0px;
  margin: 0;
}
h1 em {
  color: #339;
  font-style: normal;
}

img
{
    border: 0;
    margin: 0
}

table
{
    margin-top: 0;
    background-color: white;
    border: 1px solid #BCBAA2;
}

label
{
    width: 196;
    float: left;
    text-align: right;
    margin-right: 16px;
}

div.top_menu
{
    background: url(images/grad3.png) repeat-x;
    width: 100%;
    height: 71px;
    margin: 0
}

div.top_menu2
{
    background-color: #EEE;
    color: #CCC;
    font-size: small;
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0
}

div.center_pane
{
    border-radius: 8px;
    width: 1024px; 
    margin: auto;
}

div.post_stats
{
  font-family: trebuchet ms, verdana, arial, sans-serif;
  text-align: right;
  font-size: small;
  padding: 4px;
  background-color: #F1F1D8;
  color: #514E41;
  border: 1px solid #BCBAA2;
  border-bottom: 0px;
  margin: 0;
}

div.post_stats_solution
{
    font-size: small;
    border-top-left-radius: 4px;
    text-align: right;
    background-color: #005000;
    margin: 0px 8px 0px 8px;
    padding: 2px;
}

div.post_body
{
    font-family: monospace;
    padding: 4px;
    background-color: white;
    border-left: 1px solid #BCBAA2;
    border-right: 1px solid #BCBAA2;
    margin: 0;
}

div.post_footer
{
    padding: 4px;
    text-align: right;
    font-size: small;
    background-color: white;
    border-left: 1px solid #BCBAA2;
    border-right: 1px solid #BCBAA2;
    border-bottom: 1px solid #BCBAA2;
    margin: 0;
}

div.form
{
    color: black;
    border-radius: 16px;
    padding: 8px;
    background-color: #C0C0C0;
}

div.user_mini
{
    margin: 0;
    height: 32px;
    /* background-color: #E0E0E0; */
    border: 1px;
    /* border-style: solid; */
}

/******************************************************************************
 * date divs
 ******************************************************************************/
div.newsblock-date
{
    border: 1px solid #CCC;
    padding: 0px;
    margin: 0px;
    width: 3em;
}

div.newsblock-month
{
    font-weight: bold;
    text-align: center;
    font-size: small;
    background-color: #CCC;
    border: 0px;
    padding: 0px;
    padding: 0px;
    line-height: 1em;
    /* padding: 2px 0px 3px 0px; */
}

div.newsblock-day
{
    font-weight: bold;
    text-align: center;
    background-color: #FFF;
    /* line-height: 14px; */
}

div.newsblock-year
{
    text-align: center;
    font-size: small;
    background-color: #FFF;
    /* line-height: 8px; */
    /* padding-bottom: 2px; */
}

form
{
    display: block;
} 


th
{
    text-align: left;
}

tr.low_vote
{
    /* background: url(images/grad0.gif) repeat-x; */
}

tr.black_gradient
{
    /* background: url(images/grad0.gif) repeat-x; */
}

tr.green_gradient
{
    /* background: url(images/grad1.gif) repeat-x; */
}

tr.red_gradient
{
    /* background: url(images/grad2.gif) repeat-x; */
}

DIV.x
{
    background-color: white;
    border-style: solid;
    border-width: 0;
    border-color: black;
    padding-left: 0;
    padding-top: 0;
    padding-right: 2;
    padding-bottom: 0;
    margin: 0;
    text-align: right;
}

/*
a, a:visited { 
    color: #223;
}

a:hover {
  color: #445;
}
*/

a.user {
    color: #0c7dce;
    text-decoration: none
}

a.crackme {
    color: #0c7dce;
    font-weight: bold;
    text-decoration: none
}

a, a:hover {
    text-decoration: underline
}


pre.post_body
{
    background-color: white
}

pre 
{
    background-color: gray;
    padding: 4px;
}

p
{
    margin: 0;
}


