body {
    margin: 0;
    height: 100%;

    /* font-family: verdana, arial, serif; */
    font-size: xx-large;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #F5F4EB;
}

th {
    font-size: large;
    text-align: left;
}

select {
    font-size: xx-large;
}

input {
    font-size: xx-large;
}

span {
    font-size: xx-large;
}

table {
    font-size: xx-large;
}

span.predict {
    font-size: x-large;
}

div.chessWhite {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 8px; 

}

div.chessBlack {
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 8px; 
}
